html{
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

body {
  /*background: url() no-repeat;*/
  /*background-color:black;*/
  	background:url(https://i.imgur.com/DIpxuxu.jpg) center top;
  	background-size: 1260px;
  	background-repeat: no-repeat;
	width:900px;
  	height: 13180px;
  	margin: 0 auto;
  	position:relative;
  	overflow-y: hidden;
}

@font-face {
    font-family: 'sabo'; /*a name to be used later*/
    src: url(./images/Sabo-Filled.otf); /*URL to font*/
}

#go {
	position:absolute;
	font-family: 'sabo';
	font-size: 50px;
	margin-left:230px;
	margin-top:12550px;
	width:800px;
	color:black;
	text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
}

#smoke3 {
	position:fixed;
	top: 560px;
	height:130px;
	width:190px;
	margin-left:340px;
	/*margin-top:150px;*/
	margin-bottom:auto;
	z-index:2;
}

#smoke1 {
	position:fixed;
	top: 580px;
	height:130px;
	width:190px;
	margin-left:340px;
	/*margin-top:150px;*/
	margin-bottom:auto;
	z-index:2;
}

.content {
 display: none;   
}
.content.visible {
 display: block;   
}

#rocket {
	position:fixed;
	top: 162px;
	height:430px;
	width:180px;
	margin-left:340px;
	/*margin-top:150px;*/
	margin-bottom:auto;
	z-index:2;
}

#birds {
	position:absolute;
	/*margin-top:-100px;*/
  	left: 500px;
  	height:80px;
  	width:150px;
  	z-index:1;
}

#birds1 {
	position:absolute;
	/*margin-top:-100px;*/
  	left: 500px;
  	height:80px;
  	width:150px;
  	z-index:1;
}

#plane {
	position:absolute;
	/*margin-top:-100px;*/
  	left: 500px;
  	height:40px;
  	width:100px;
  	z-index:1;
}

#moon {
	position:absolute;
	width:700px;
	height:700px;
	margin-left:600px;
	margin-top:-300px;
	overflow:hidden;
}

#puff4 {
	position:absolute;
	width:400px;
	height:100px;
	margin-left:240px;
	margin-top:13050px;
	z-index:4;
}

#puff2 {
	position:absolute;
	width:250px;
	height:100px;
	margin-left:300px;
	margin-top:13000px;
	z-index:4;
}

#puff1 {
	position:absolute;
	width:150px;
	height:60px;
	margin-left:360px;
	margin-top:12970px;
	z-index:4;
}

#puff1a {
	position:absolute;
	width:100px;
	height:60px;
	margin-left:380px;
	margin-top:12920px;
	z-index:4;
}


/*#top{
	position:absolute;
	margin-top:0px;
}*/

#relaunch {
	position:absolute;
	font-family: 'sabo';
	font-size: 30px;
	margin-left:-100px;
	margin-top:250px;
	color:#FF00B6;
	text-decoration: none;
	text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
}

#relaunch:hover {
	color:white;
	text-decoration: none;
	text-shadow:
    -1px -1px 0 #FF00B6,
    1px -1px 0 #FF00B6,
    -1px 1px 0 #FF00B6,
    1px 1px 0 #FF00B6;
}

#retro {
	position:absolute;
	font-family: 'sabo';
	font-size: 80px;
	margin-left:-100px;
	color:#FF00B6;
	text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
}

#space {
	position:absolute;
	font-family: 'sabo';
	font-size: 80px;
	margin-left:240px;
	color:#FF00B6;
	text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
}

#rocketword {
	position:absolute;
	font-family: 'sabo';
	font-size: 80px;
	margin-left:580px;
	color:#FF00B6;
	text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
}

#logoBottom {
	position:absolute;
	font-family: 'sabo';
	/*font-size: 280px;*/
	margin-left:100px;
	margin-top:12550;
    z-index: 7;
    width:300px;
}

#three {
	position:absolute;
	font-family: 'sabo';
	font-size: 280px;
	margin-left:690px;
	margin-top:12550;
	color:black;
	text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
    z-index: 7;
}

#two {
	position:absolute;
	font-family: 'sabo';
	font-size: 280px;
	margin-left:690px;
	margin-top:12550;
	color:black;
	text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
    z-index: 7;
}

#one {
	position:absolute;
	font-family: 'sabo';
	font-size: 280px;
	margin-left:690px;
	margin-top:12550;
	color:black;
	text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
    z-index: 7;
}

#gorocket {
	position:absolute;
	font-family: 'sabo';
	font-size: 220px;
	margin-left:600px;
	margin-top:12600;
	color:black;
	text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
    z-index: 7;
}

#bottom {
	position:absolute;
	font-family: 'sabo';
	margin-top:13000px;
	margin-left:0px;
	text-decoration: none;
	color:black;
	font-size: 25px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:0px;
	outline:none;
}

#bottom:hover {
	color:white;
	text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}


#rights {
  font-family: 'sabo', Georgia, Times, serif;
  
  color: #000000;
  margin-left: 0px;
  margin-top: 13120px;
  position: absolute;
  /*background-color: #000000;*/
  height: 15px; 
    width: 1100px;
  /*border-style: solid;*/
    /*background-color:rgba(0,0,0,0.5);*/
    /*border-radius: 5px 5px 5px 5px;*/
}

#copyright {
  font-family: 'sabo', Georgia, Times, serif;
  margin-top: 0px;
  font-size: 9px;
  /*width:200px;*/
  /*padding: 0px;*/
  margin-left: -50px;
  position: absolute;
  color:black;
}
#cred {
  font-family: 'sabo', Georgia, Times, serif;
  font-size:9px;
  /*width:170px;*/
  margin-top: 0px;
  margin-left: 780px;
  /*padding: 5px;*/
  position: absolute;
  color:black;
  
}