html{
}

body {
  /*background: url() no-repeat;*/
  /*background-color:black;*/
  background:url(./images/spacething.JPG) center top;
  background-size: 1260px;
  background-repeat: no-repeat;
	width:900px;
  	height: 13180px;
  	margin: 0 auto;
  position:relative;
  /*overflow-y: hidden;*/
}

#rocket {
	position:fixed;
	height:430px;
	width:180px;
	margin-left:340px;
	margin-top:200px;
	z-index:2;
}

#birds {
	position:absolute;
	/*margin-top:-100px;*/
  	left: 500px;
  	height:130px;
  	width:400px;
  	z-index:1;
}

#birds1 {
	position:absolute;
	/*margin-top:-100px;*/
  	left: 500px;
  	height:80px;
  	width:150px;
  	z-index:1;
}

#plane {
	position:absolute;
	/*margin-top:-100px;*/
  	left: 500px;
  	height:40px;
  	width:100px;
  	z-index:1;
}

#moon {
	position:absolute;
	width:700px;
	height:700px;
	margin-left:600px;
	margin-top:-300px;
	overflow: scroll;
}

#puff4 {
	position:absolute;
	width:400px;
	height:100px;
	margin-left:240px;
	margin-top:13050px;
	z-index:4;
}

#puff2 {
	position:absolute;
	width:250px;
	height:100px;
	margin-left:300px;
	margin-top:13000px;
	z-index:4;
}

#puff1 {
	position:absolute;
	width:150px;
	height:60px;
	margin-left:360px;
	margin-top:12970px;
	z-index:4;
}

#puff1a {
	position:absolute;
	width:100px;
	height:60px;
	margin-left:380px;
	margin-top:12920px;
	z-index:4;
}

#smoke4 {
	position:absolute;
	width:400px;
	height:100px;
	margin-left:230px;
	margin-top:13030px;
	z-index:1;
}

#smoke4 {
	position:absolute;
	width:300px;
	height:100px;
	margin-left:240px;
	margin-top:13030px;
	z-index:1;
}

/*#top{
	position:absolute;
	margin-top:0px;
}*/

#bottom {
	position:absolute;
	margin-top:13000px;
	margin-left:0px;
	text-decoration: none;
	color:black;
	font-size: 15px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:0px;
}